body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: gray;
  text-align: center;
  font-family: cursive;
}

.container {
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input {
  padding: 5px;
  border-radius: 4px;
}

.medial-con {
  min-height: 200px;
}
.task {
  max-width: none;
  background-color: white;
  position: relative;
  text-align: left;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.fa-trash {
  position: absolute;
  color: red;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px;
  opacity: 0.8;
}

.btn:hover {
  transform: scale(98%);
}

.one {
  background-color: rgb(0, 92, 55);
  box-shadow: 0 4px 8px rgba(0, 0.5, 0, 0.5);
}
.two {
  background-color: rgb(231, 30, 19);
  box-shadow: 0 4px 8px rgba(0, 0.5, 0, 0.5);
  width: 80%;
}
